@charset "utf-8";
/* CSS Document */
body{
		padding-top:55px;
		padding-bottom:10px;
	}
p{
	font-family: 'Source Sans Pro', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Oswald', sans-serif;
}
.site-footer{
	background:#000;
	margin-top:40px;
	padding-top:40px
}